/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
  margin: 20px auto;
  /*width: 80%;*/
  /*padding: 0px 20px 20px 20px;*/
  /*border: 1px solid black;*/
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

nav {
	padding: 0 50px;
	border-bottom: 2px #F2F2F2 solid;
	height: 75px;
}

nav h1 {
	font-family: 'Sansita One', sans-serif;
	float: left;
	line-height: .45em;
}

nav ul {
	float: right;
}

nav ul li {
	display: inline;
	padding-right: 20px;
}

a {
	color: #2AB6A6;
	text-decoration: none;
	font-weight: 400;
}

a:hover {
	color: #7E68A8;
}

.teal-border {
	border-bottom: 2px solid #2AB6A6;
}

.gray-border {
	border-bottom: 2px solid #F2F2F2;
}