<h1>Heads up!</h1>

<p><%= @event.creator.name %> updated an event that you're signed up for!</p>

<p>You should talk to them about it or see for yourself here: <a href='http://localhost:3000/events/<%= @event.id %>'><%= @event.name %></a></p>