<h1>HEY. AWESOME.</h1>

<p>You just created a new event on Hop To It</p></br>

<p><%= @event.name  %>? Sounds like fun.</p>

<p>Forward this email along to your friends, they can<a href='http://localhost:3000/events/<%= @event.id %>'> sign up here.</a></p>
