<h1>HI THERE</h1>

<p>Just wanted to let you know,</p></br>

<p>One of your friends just created a new event: <%= @event.name  %>.</p>

<p>Sign up now on <a href='http://localhost:3000'>Hop To It!</a></p>
